/*Reset and General Styles*/
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.group-edit-card {
    border: solid 1px;
    margin: 10px;
    display: flex;
    background-color: blue;
}

.group-image {
    flex-grow: 1;
    background-color: aquamarine;
}

.group-info {
    flex-grow: 2;
    background-color: aqua;
}
.edit-form {
    display: none;
    background-color: aqua;
    padding: 10px;
    margin-top: 10px;
}


.form-wrapper {
    /* Styles for the wrapper element (layout, margins, padding) */
    margin: 20px auto;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .form-wrapper label {
    /* Styles for labels */
    display: block;
    margin-bottom: 5px;
  }
  
  .form-wrapper input[type="text"],
  .form-wrapper textarea {
    /* Styles for input fields and textarea */
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .form-wrapper input[type="submit"] {
    /* Styles for submit button */
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }