@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*Reset and General Styles*/
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
li:hover {
    cursor: pointer;
}
header {
    align-content: center;
    height: 80px; 
    border-bottom: solid gray 2px;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9999;
}
.nav-grid ul{
    display: flex;
    justify-content: start;

}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 6fr;
    gap: 3px;
    padding: 4px;
}
.feed {
    display: grid;
    grid-template-columns: repeat(1, minmax(300px, 1fr));
    /*background: linear-gradient(45deg, lightblue, violet);*/
}
.feed-nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
nav ul li:hover {
    font-weight: 600;
    text-decoration: underline;
}
nav ul li {
    padding-left: 8px;
}
.active {
    color: darkgray;
    text-decoration: underline;
}
/*- - - - - Side Bar Styles - - - - - */
.sidebar {

}
.sidebar li {
    padding: 4px 10px;
}
.sidebar li:hover {
    background: lightgray;
    font-weight: 600;
}
/*- - - - - Side Bar Styles - - - - - */


/*- - - - - CARD STYLES - - - - -*/
.card { /* General Card Designs */
    display: grid;
    min-height: 260px;
    max-height: auto;
    grid-template-rows: 5fr 1fr;
    grid-template-columns: 30% 70%;
    box-shadow: 2px 3px 5px;
    background-color: aliceblue;
    padding: 4px;
    gap: 4px;
    margin: 6px 6px;
}
.group-info h1 {
    font-size: larger;
    padding-bottom: 4px;
}
.card div {
    padding: 10px;
}
.card div:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
    width: auto;
}
.card div:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
    width: auto;
}
.card div:nth-child(3) {
    grid-column: 1 / span 2; /* This makes the third child span both columns of the second row */
    grid-row: 2;
    width: auto;
}
.card-image {
    height: auto;
    width: auto;
    overflow: hidden;
}
.card-buttons {
    display: flex;
    justify-content: end;
    gap: 6px;
}
.card-buttons button {
    /*background: rgb(145, 145, 145);*/
    /*border: solid 1px;*/
    border-radius: 10px;
}
.card-buttons button:hover {
    /*background-color: rgb(165, 165, 165);*/
}

.choice-card { /* General choice-card Designs */
    display: grid;
    height: 260px;
    grid-template-rows: 5fr 1fr;
    grid-template-columns: 30% 70%;
    box-shadow: 2px 3px 5px;
    background-color: aliceblue;
    padding: 4px;
    gap: 4px;
    margin: 6px 6px;
}
.choice-card div {
    padding: 10px;
}
.choice-card div:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
    width: auto;
}
.choice-card div:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
    width: auto;
}
.choice-card div:nth-child(3) {
    grid-column: 1 / span 2; /* This makes the third child span both columns of the second row */
    grid-row: 2;
    width: auto;
}

.accepted {
    background-color: green;
}

.declined {
    background-color: red;
}
/*- - - - - CARD STYLES - - - - -*/

/*- - - - - GROUP CARD STYLES - - - - -*/
.group-prf-card { /* General Card Designs */
    display: grid;
    height: 260px;
    grid-template-rows: 5fr 1fr;
    grid-template-columns: 30% 70%;
    box-shadow: 2px 3px 5px;
    background-color: aliceblue;
    padding: 4px;
    gap: 4px;
    margin: 6px 6px;
}
.group-prf-card div:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
    width: auto;
}
.group-prf-card div:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
    width: auto;
}
.group-prf-card div:nth-child(3) {
    grid-column: 1 / span 2; /* This makes the third child span both columns of the second row */
    grid-row: 2;
    width: auto;
}
.group-options {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}
.group-options button {
    /*background: rgb(145, 145, 145);*/
    /*border: solid 1px;*/
    border-radius: 10px;
    margin: 5px;
}
.group-prf-card .leave { /*Leave button*/
    background-color: red;
}
/*- - - - - GROUP CARD STYLES - - - - -*/

/*- - - - - General Image Styles - - - - -*/
img {
    height: auto;
    width: auto;
    object-fit: fill;
    display: block;
}
/*- - - - - General Image Styles - - - - -*/
/*- - - - - CONTENT HEADERS - - - - -*/
.main-header {
    font-size: larger;
    margin-bottom: 10px;
}
/*- - - - - CONTENT HEADERS - - - - -*/
/*- - - - - HIDDEN - - - - - */
.hidden {
    display: none;
}

/*- - - - - HIDDEN - - - - - */

#group-meta {
    display: flex;
}
#group-meta p {
    margin-right: 1rem;
    padding: 6px;
}

@keyframes menuSlider {
    from {
        width: 0px;
    }
    to{
        width: 300px;
    }
}

/* - - - - - profile styles - - - - - */
.profile-menu {
    position: absolute;
    right: 0;
    height: 100%;
    width: 20%;
    background-color: #161b22;
    z-index: 9998;
    animation: menuSlider 300ms forwards; /* Apply the menuSlider animation with a duration of 1 second and ease-in timing function */
}
.list-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.group-info {
    /* flex-grow: 2;
    background-color: aqua; */
    flex: 8;
    padding: 6px;
}
/* circle style */
.circle {
    width: 68px; /* change size here */
    height: 68px; /* change size here */
    top: 0.7%; 
    right: 2%;
    position: absolute;
    background-color: black;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    border: solid white 2px;
}
.profile-circle {
    width: 68px; /* change size here */
    height: 68px; /* change size here */
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.circle-img-default {
    width: 99%;
    height: 99%;
    mix-blend-mode: multiply;
    position: relative;
    shape-image-threshold: inherit;
    border-radius: 50%;
}
.circle-img {
    width: 99%;
    height: 99%;
    position: relative;
    shape-image-threshold: inherit;
    border-radius: 50%;
}
.circle-img:hover {
    cursor: pointer;
}

.edit-form {
    display: none;
    background-color: aqua;
    padding: 10px;
    margin-top: 10px;
}

.form-wrapper {
    margin: 20px auto;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.form-wrapper label {
    display: block;
    margin-bottom: 5px;
}
.form-wrapper input[type="text"],
.form-wrapper textarea {
width: 100%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 3px;
}

.form-wrapper input[type="submit"] {
background-color: #4CAF50;
color: white;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
}

/*- - - - - member list designs - - - - - */
.member-list {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.member {
    margin: 0px 16px;
    display: flex;
    flex-direction: row;
    height: 80px;
    border-radius: 5px;
    border: solid 1px;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 1px 1px;
    background: rgb(230, 230, 230);
}
.member:hover {
    background: rgb(178, 178, 178); /* Scale up on hover */
}
.invited-member {
    margin: 0px 16px;
    display: flex;
    flex-direction: row;
    height: 80px;
    border-radius: 5px;
    border: solid 1px;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 1px 1px;
    background: rgb(230, 230, 230);
}
.dropdown-item:hover {
    background-color: rgb(178, 178, 178);
    cursor: pointer;
}
/*- - - - - member list designs - - - - - */

/*- - - - - kick confirm design - - - - - */
.kick-confirm {
    width: 350px;
    height: 200px;
    background-color: gray;
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 6px 0; /* padding: y x*/
    border-radius: 5px;
    border: solid 2px black;

}
.kick-confirm-divider {
    background-color: white;
    width: 100%;
    height: 2px;
}
.confirm-buttons {
    display: flex;
    gap: 30px;
}
.confirm-button {
    border: solid white 1px;
    padding: 6px;
    border-radius: 6px;
}
.confirm-button:hover {
    border: black solid 1px;
    color: black;
}

/*LOGIN WITH GOOGLE BUTTON */
/*LOGIN WITH GOOGLE BUTTON */
.login-with-google-btn {
    transition: background-color .3s, box-shadow .3s;
    padding: 12px 16px 12px 42px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 12px 11px;
    
    &:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
    }
    
    &:active {
    background-color: #eeeeee;
    }
    
    &:focus {
    outline: none;
    box-shadow: 
        0 -1px 0 rgba(0, 0, 0, .04),
        0 2px 4px rgba(0, 0, 0, .25),
        0 0 0 3px #c8dafc;
    }
    
    &:disabled {
    filter: grayscale(100%);
    background-color: #ebebeb;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    cursor: not-allowed;
    }
}

.list-group-item-action {
    background-color: transparent;
    color: white;
}
.list-group-item-action:hover {
    color: white;
    background-color: rgb(79, 79, 79)
}
/* - - - - - - end of profile styles - - - - - * /
/* circle style */
.circle {
    width: 68px; /* change size here */
    height: 68px; /* change size here */
    top: 0.7%; 
    right: 2%;
    position: absolute;
    background-color: black;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    border: solid white 2px;
}
.circle-img {
    width: 99%;
    height: 99%;
    position: relative;
    shape-image-threshold: inherit;
    border-radius: 50%;
}
.circle-img:hover {
    cursor: pointer;
}
/* - - - - - - END OF circle style - - - - - - -*/


