<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    {% block head_script %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header class="bg-purple-800 text-white">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/">FAQ</a></li>
            </ul>

    </header>
    <main>
        {% block main %}{% endblock %}
    </main>
    <footer class="bg-purple-600 text-white height-400px">
        <div>JACD@Project.com</div>
    </footer>
</body>

</html>
