{% extends '_layout.html' %}

{% block head_script %}

{% endblock %}

{% block title %}Edit Profile Page{% endblock %}

{% block main %}
<!--ADD FORM ACTION-->
<h1 class="text-xl font-bold tracking-tight text-gray-900 p-6">Edit Profile</h1>
<div id="profile-info">
    <form action="{{url_for('edit_user_profile', user_id=user['user_id'])}}" method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" enctype="multipart/form-data">
        <label for="profile_picture" class="block text-gray-700 text-sm font-bold mb-2">Profile Picture</label>
        <input type="file" name="profile_picture" id="profile_picture" value="">
        <br>
        <br>

        <h3>Login Information</h3>
        <label for="username" class="block text-gray-700 text-sm font-bold mb-1">Username</label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-3" type="text" id="username" name="username" value="{{  user['user_name']  }}">
        <br>

        <label for="password" class="block text-gray-700 text-sm font-bold mb-1">Password</label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-3" type="text" id="password" name="password" value="{{  user['password']  }}">
        <br>

        <label for="email" class="block text-gray-700 text-sm font-bold mb-1">Email</label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-3" type= "email" id="email" name="email" value="{{  user['user_email']  }}">
        <br>
        <br>

        <h3>Personal Information</h3>
        <label for="first_name" class="block text-gray-700 text-sm font-bold mb-1">First Name (Optional)</label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-3" type="text" id="first_name" name="first_name" value="{{  user['user_first_name']  }}">
        <br>

        <label for="last_name" class="block text-gray-700 text-sm font-bold mb-1">Last Name (Optional)</label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-3" type="text" id="last_name" name="last_name" value="{{  user['user_last_name']  }}">
        <br>
        <br>
        <input class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit" value="Save">
    </form>

    <form action="/profile/{{  user['user_id']  }}/edit/delete" method="post">
        <button class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Delete User</button>
    </form>
</div>
{% endblock %}