{% extends '_layout.html' %}

{%  block title  %}Event Page{%  endblock  %}

{%  block main  %}
    <h1>UNCC 2024 Game Jam</h1>
    <div id="event-organizer">
        <p>
            <b>Event Organizer: </b>
        </p>
        <p>UNCC Game Devs</p>
    </div>
    <div id="event-time">
        <p>
            <b>Event Time: </b>
        </p>
        <p>April 1st 2024, 5:30pm - 8:30pm EST</p>
    </div>
    <div id="event-location">
        <p>
            <b>Event Location: </b>
        </p>
        <p>Woodward 106</p>
    </div>
    <div id="event-details">
        <p>
            <b>Event Details:</b>
        </p>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis delectus odit labore tempore aliquam repudiandae incidunt dolore, hic obcaecati nisi deserunt, saepe est molestias veniam voluptatum sit consequatur beatae soluta!
        </p>
    </div>
    <div>
        <p>
            <b>Who's Going?</b>
        </p>
        <ul>
            <li>Connor (You)</li>
            <li>Dom</li>
            <li>Jason</li>
            <li>Aidan</li>
        </ul>
    </div>
    <br>
    <div id="buttons">
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Accept</button>
    <button class="bg-red-700 hover:bg-red-800 text-white font-bold py-2 px-4 rounded">Decline</button>
    <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">Report</button>
    </div>

{%  endblock  %}