{% extends '_layout.html' %}

{% block title %}Create Group{% endblock %}
{%  block head_script %}
<link rel="stylesheet" href="/static/edit.css">
<script src="/static/group_edit.js" defer></script>
{% endblock %}

{% block main %}

<div class="kick-confirm hidden">Do you wish to kick this user?
    
    <div class="confirm-buttons">
        <button class="confirm-button confirm">Confirm</button>
        <button class="confirm-button cancel">Cancel</button>
    </div>
</div>


<div class="group-edit-card shadow-lg">
    <div class="group-image-container"><img src="/static/img/SPECTRAL.webp" alt="Card image cap" class="group-image card-img-top"></div>
    <div class="group-info">
        <section class="krevat-2hour-trip-to-uncc">
            <h2 class="group-name">{{ group.group_name }}</h2>
            {% if group.group_public == true %}
            <p class="privacy">Privacy: Public</p>
            {% elif group.group_public == false %}
            <p class="privacy" >Privacy: Private</p>
            {% endif %}
            <p class="description">About: {{ group.group_description }}</p>
            <i class="fa-solid fa-pen-to-square edit-icon"></i>
        </section>
    </div>
</div>
<div class="member-list">
    <h1 class="mx-4">Members: </h1>
    {% for member in members %}
    
    <div class="member">
        <img src="" alt="profile icon">
        <p class="w-25">{{ member.user_name }}</p>
        <p>Role: {{ member.user_role }}</p>
        <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-ellipsis"></i></button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/profile/{{ member.user_id }}"> Profile</a>
                    <a class="dropdown-item" > Role</a>
                    <a class="dropdown-item kick-user" > Kick</a>
                </div>
                
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}

