{% extends '_layout.html' %}

{% block title %}Home Page{% endblock %}
{%  block head_script %}<script src="/static/feed.js" defer></script>{% endblock %}

{% block main %}
<section class="grid-container">
    <div class="main-header"><h1>My Groups:</h1></div>
    <div class="main-header"><h1>{{ group.group_name }}</h1></div>
    <div class="sidebar">
        <form action='/group' method="get">
            <ul>
                {% for sidebar_group in sidebar_groups %}
                    <a href="/groups/{{ sidebar_group['group_id'] }}"><li>{{ sidebar_group['group_name'] }}</li></a>
                {% endfor %}
            </ul>
        </form>
    </div>

    <div id="group-feed feed" class="feed bg-white">
        <div class="group-prf-card">
            <div class="card-image"><img src="/static/img/Mukaka.jpg"></div>
            <div class="group-info">
                <h1>Owner: {{ group_owner.user_name }}</h1>
                <p>Members: {{ member_count }}</p>
                {% if membership.user_role|int == 0 %}
                    <p>Role: Owner</p>
                {% elif membership.user_role|int == 1 %}
                    <p>Role: Admin</p>
                {% elif membership.user_role|int == 2 %}
                    <p>Role: Member</p>
                {% elif membership.user_role|int == 3 %}
                    <p>Role: Non-Member</p>
                {% endif %}

            </div>
            <div class="group-options">
                <button><a href="/groups/{{ group.group_id }}/group_edit/">Edit</a></button><button>Message</button><button class="leave">Leave</button>
            </div>
        </div>
        <nav class="feed-nav">
            <ul>
                <li id="activate-about"class="active mb-3 text-lg md:text-xl">Members</li>
                <li id="activate-event"class="active mb-3 text-lg md:text-xl">Events</li>
                <li id="activate-calendar" class="mb-3 text-lg md:text-xl">Calendar</li>
            </ul>
        </nav>
        <div id="calendar" class="hidden">
            <script src="{{ url_for('static', filename='calendar.js') }}"></script>
            <div>
                <button onclick="prevMonth()">Prev Month</button>
                <button onclick="nextMonth()">Next Month</button>
            </div>
            
        </div>
    </div>
    
</section>
{% endblock %}
