{% extends '_layout.html' %}

{% block title %}Home Page{% endblock %}
{%  block head_script %}<script src="/static/feed.js" defer></script>{% endblock %}

{% block main %}
<section class="grid-container">
    <div class="main-header"><h1>My Groups:</h1></div>
    <div class="main-header"></div>
    <div class="sidebar">
        <form action='/group' method="get">
            <ul>
                {% for sidebar_group in sidebar_groups %}
                    <a href="/groups/{{ sidebar_group['group_id'] }}"><li>{{ sidebar_group['group_name'] }}</li></a>
                {% endfor %}
            </ul>
        </form>
    </div>

    <div id="group-feed feed" class="feed bg-white">
        <div class="group-prf-card">
            <div class="card-image"><img class="" src="/static/img/Mukaka.jpg"></div>
            <div class="group-info">
                <h1>{{ group.group_name }}</h1>
                <p> {{ group.group_description }}</p>
                <div class="container" id="group-meta">
                    <p class="text-muted group-identifier">#{{ group.group_id }}</p>
                    <p>Owner: {{ group_owner.user_name }}</p>
                    <p>Members: {{ member_count }}</p>
                    {% if group.group_public == true %}
                        <p>Privacy: Public</p>
                    {% elif group.group_public == false %}
                        <p>Privacy: Private</p>
                    {% endif %}
                    {% if membership is none %}
                    {% elif membership.user_role|int == 0 %}
                        <p>Role: Owner</p>
                    {% elif membership.user_role|int == 1 %}
                        <p>Role: Admin</p>
                    {% elif membership.user_role|int == 2 %}
                        <p>Role: Member</p>
                    {% endif %}
                </div>
            </div>
            <div class="group-options">
                    {% if membership is none %}
                    <form action="{{url_for('group_join', group_id=group['group_id'])}}" method="post">
                        {% if group.group_public == true %}
                        <button type="submit" name="join" class="btn btn-primary">Join</button>
                        
                        {% else %}
                        <button type="submit" name="join" class="btn btn-primary">Request Join</button>
                        {% endif %}
                    </form>
                    {% elif membership.user_role == 0 or membership.user_role == 1 %}
                    <button class="btn btn-secondary"><a href="/groups/{{ group['group_id'] }}/create_event/">Add Event</a></button>
                    <button class="btn btn-secondary"><a href="/groups/{{ group['group_id'] }}/group_edit/">Edit</a></button>

                
                {% endif %}
                {% if membership is not none %}
                <form action="{{url_for('group_leave', group_id=group['group_id'])}}" method="post">
                    <button type="submit" name="leave" class="btn btn-danger">Leave</button>
                </form>
                
                {% endif %}
            </div>
        </div>
        <nav class="feed-nav">
            <ul>
                <li id="activate-about"class="active mb-3 text-lg md:text-xl">Members</li>
                <li id="activate-event"class="active mb-3 text-lg md:text-xl">Events</li>
                <li id="activate-choice-events" class="mb-3 text-lg md:text-xl">Accepted/Declined Events</li>
                <li id="activate-calendar" class="mb-3 text-lg md:text-xl">Calendar</li>
            </ul>
        </nav>

        
        {% for event in group_events %}
        {% if event['attending'] is none %}
        <div class="card border-bold rounded" id="event-id-{{ event['event_id'] }}">
            <div class="card-image"><img src="/static/img/Image1.png" alt="Image"></div>
                <div class="card-content">
                    <h2>{{event['event_name']}}</h2>
                    <p>{{event['event_description']}}</p>
                    <p>Start Date: {{event['event_start_timestamp'].strftime('%Y-%m-%d %I:%M:%S %p')}}</p>
                    <p>End Date: {{event['event_end_timestamp'].strftime('%Y-%m-%d %I:%M:%S %p')}}</p>
                    {% if event['event_public'] is false %}
                    <p>This is a private event!</p>
                    {% endif %}
                </div>
            <div class="card-buttons">
                <button class="accept-button btn btn-secondary" data-event-id="{{ event['event_id'] }}" data-user-id="{{ session['user_id'] }}">Accept</button>
                <button class="decline-button btn btn-secondary" data-event-id="{{ event['event_id'] }}" data-user-id="{{ session['user_id'] }}">Decline</button>
                <button class="revert-button hidden btn btn-secondary" data-event-id="{{ event['event_id'] }}" data-user-id="{{ session['user_id'] }}">Revert</button>
                {% if (membership.user_role|int == 0) or (membership.user_role|int == 1) %}
                <button class="btn btn-secondary"><a href="/groups/{{group['group_id']}}/event_edit/{{event['event_id']}}/">Edit</a></button>
                {% endif %}
            </div>
        </div>
        {% elif event['attending'] is true %}
        <div class="choice-card accepted border-bold rounded hidden" id="event-id-{{event['event_id']}}">
            <div class="card-image"><img src="/static/img/Image1.png" alt="Image"></div>
                <div class="card-content">
                    <h2>{{ event['event_name'] }}</h2>
                    <p>{{ event['event_description'] }}</p>
                    <p>Start Date: {{ event['event_start_timestamp'].strftime('%Y-%m-%d %I:%M:%S %p') }}</p>
                    <p>End Date: {{ event['event_end_timestamp'].strftime('%Y-%m-%d %I:%M:%S %p') }}</p>
                    {% if event['event_public'] is false %}
                    <p>This is a private event!</p>
                    {% endif %}
                </div>
            <div class="card-buttons">
                <button class="accept-button hidden btn btn-secondary" data-event-id="{{ event['event_id'] }}" data-user-id="{{ session['user_id'] }}">Accept</button>
                <button class="decline-button hidden btn btn-secondary" data-event-id="{{ event['event_id'] }}" data-user-id="{{ session['user_id'] }}">Decline</button>
                <button class="revert-button btn btn-secondary" data-event-id="{{ event['event_id'] }}" data-user-id="{{ session['user_id'] }}">Revert</button>
                {% if (membership.user_role|int == 0) or (membership.user_role|int == 1) %}
                <button><a href="/groups/{{event['group_id']}}/event_edit/{{event['event_id']}}/">Edit</a></button>
                {% endif %}
            </div>
        </div>
        {% else %}
        <div class="choice-card declined border-bold rounded hidden" id="event-id-{{event['event_id']}}">
            <div class="card-image"><img src="/static/img/Image1.png" alt="Image"></div>
                <div class="card-content">
                    <h2>{{ event['event_name'] }}</h2>
                    <p>{{ event['event_description'] }}</p>
                    <p>Start Date: {{ event['event_start_timestamp'].strftime('%Y-%m-%d %I:%M:%S %p') }}</p>
                    <p>End Date: {{ event['event_end_timestamp'].strftime('%Y-%m-%d %I:%M:%S %p') }}</p>
                    {% if event['event_public'] is false %}
                    <p>This is a private event!</p>
                    {% endif %}
                </div>
            <div class="card-buttons">
                <button class="accept-button hidden btn btn-secondary" data-event-id="{{ event['event_id'] }}" data-user-id="{{ session['user_id'] }}">Accept</button>
                <button class="decline-button hidden btn btn-secondary" data-event-id="{{ event['event_id'] }}" data-user-id="{{ session['user_id'] }}">Decline</button>
                <button class="revert-button btn btn-secondary" data-event-id="{{ event['event_id'] }}" data-user-id="{{ session['user_id'] }}">Revert</button>
                {% if (membership.user_role|int == 0) or (membership.user_role|int == 1) %}
                <button><a href="/groups/{{event['group_id']}}/event_edit/{{event['event_id']}}/">Edit</a></button>
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% endfor %}

        <div id="calendar" class="hidden">
            <script src="{{ url_for('static', filename='calendar.js') }}"></script>
            <div>
                <button onclick="prevMonth()">Prev Month</button>
                <button onclick="nextMonth()">Next Month</button>
            </div>
        </div>
    </div>
    
</section>
{% endblock %}
