{% extends '_layout.html' %}

{% block title %}Home Page{% endblock %}
{%  block head_script %}<script src="/static/feed.js" defer></script>{% endblock %}
{% block main %}
<section class="grid-container">
    <div class="main-header"><h1>My Groups:</h1></div>
    <div class="main-header"><h1>Community Feed:</h1></div>
    <div class="sidebar">
        <ul>
            <form action="/groups/create" method="get"><li><button type="submit">Create Group <i class="fa-solid fa-plus"></i></button></li></form>
            {% for group in groups %}
                <a href="/groups/{{ group['group_id'] }}"><li>{{ group['group_name'] }}</li></a>
            {% endfor %}
        </ul>
    </div>

    <div class="feed bg-white">
            <nav class="feed-nav">
                <ul>
                    <li id="activate-event"class="active mb-3 text-lg md:text-xl">Events</li>
                    <li id="activate-calendar" class="mb-3 text-lg md:text-xl">Calendar</li>
                </ul>
            </nav>
        <div class="card border-bold rounded">
            <div class="card-image"><img class="card-img-top" src="/static/img/Image1.png" alt="Image"></div>
            <div class="card-content">
                <h2>DGC Cultural Kick-Off</h2>
            <p>Vibrant celebration of diversity, food, and performnace! Provided by organizations of the Diversified Greek Council!</p>
            </div>
            <div class="card-buttons">
                <button>Accept</button><button>Decline</button><button>Edit</button>
            </div>
        </div>
        <div class="card border-bold rounded">
            <div class="card-image"><img src="/static/img/35322171_8_1sasa11.jpg" alt="Image"></div>
            <div class="card-content">
                <h2>DGC Cultural Kick-Off</h2>
                <p>Vibrant celebration of diversity, food, and performnace! Provided by organizations of the Diversified Greek Council!</p>
            </div>
            <div class="card-buttons">
                <button>Accept</button><button>Decline</button><button>Edit</button>
            </div>
        </div>
        <div id="calendar" class="hidden">
            <script src="{{ url_for('static', filename='calendar.js') }}"></script>
            <div>
                <button onclick="prevMonth()">Prev Month</button>
                <button onclick="nextMonth()">Next Month</button>
            </div>
        </div>
    </div>
    
    
</section>
{% endblock %}