{% extends '_layout.html' %}
<!--Implement the index.css file-->
{% block title %}Home Page{% endblock %}

{% block main %}
<section class="grid-container">
    <div class="sidebar bg-gray-400">
        <ul>
            <li>UNCC Game Dev</li>
            <li>Lambda Phi Epsilon</li>
            <li>ITSC 3155</li>
            <li>PNNMB Trumpets</li>

        </ul>
    </div>

    <div class="feed bg-white">
        <div id="feed-header">
            <nav>
                <a href="/" class="mb-3 text-lg md:text-xl">Events</a>
                <a href="/calendar" class="mb-3 text-lg md:text-xl">Calendar</a>
            </nav>
        </div>
        <div class="card border-bold">
            <div class="card-image"></div>
            <h2>Title</h2>
            <p>Text Description</p>
            <button>Submit</button>
        </div>
    </div>
</section>
{% endblock %}