{% extends '_layout.html' %}

{% block head_script %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='profile.css') }}">

{% endblock %}

{% block title %}Profile Page{% endblock %}

{% block main %}
<main>
    <h1 class="text-3xl font-bold">Profile</h1>
    <div id="profile-info">
        <ul style="list-style-type:none;">
            <li><img src="" alt=""></li>
            <li>Username: {{  user['user_name'] }}</li>
            <br>
            <li>Name: {{  user['user_first_name'] + ' ' + user['user_last_name']  }}</li>
            <li>Email: {{  user['user_email']  }}</li>
            <br>
        </ul> 
    </div>
    {% if session['user_id'] == user['user_id'] %}
        <div id="edit-button">
            <a href="/profile/{{ user['user_id'] }}/edit">
                <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center">Edit</button>
            </a>
        </div>
    {% endif %}
</main>

{% endblock %}